footer{
    background: #353535;
    color: white;
    ul{
        padding: 2em;;
        li{
            line-height: 1.50em;
            color: white;
            p{
                font-family: Shrikhand;
                margin-bottom: 1em;
            }
            a{
                color: white;
            }
        }
    }
}