@media (min-width: 1024px){
    #menu{
        margin: -5em 10em 0;
        padding: 0 10em;
        .titleRestaurant{
            display: flex;
            justify-content: center;
            h2{
                gap: 1em;
            }
        }
    }

    footer{
        ul{
            display: flex;
            gap: 2em;
            justify-content: flex-end;
            li{
                &:nth-child(1){
                    order: 4;
                }
            }
        }
    }
    
    .boxFonctionnement, .boxCardRestaurant{
        padding: 3em !important;
    }
    .cardRestaurant{
        width: 48%!important;
    }
}