@charset "UTF-8";
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  background: -webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}

.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}

@keyframes loaderSize {
  0% {
    transform: scale(1) rotate(0);
  }
  16% {
    transform: scale(0) rotate(0);
  }
  50% {
    transform: scale(1) rotate(0);
  }
  80% {
    transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}
@media screen and (min-width: 768px) {
  .loader__food {
    top: 40%;
    left: 35%;
  }
}
/*HEADER*/
nav {
  display: flex;
  flex-wrap: wrap;
  background: #D2D2D2;
}
nav .searchBox {
  background: #EAEAEA;
  height: 50px;
  width: 100%;
  display: flex;
}
nav .searchBox .containerSearchBar {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 0.5em;
}
nav .searchBox input {
  background: #EAEAEA;
  border: none;
  margin: auto;
  width: 115px;
}
nav .hook {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  row-gap: 1em;
}
nav .hook h2, nav .hook p {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.fonctionnement {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
}
.fonctionnement .boxFonctionnement {
  padding: 1em 0;
  width: 90%;
  margin: auto;
}
.fonctionnement .boxFonctionnement h2 {
  padding-bottom: 1em;
}
.fonctionnement .boxFonctionnement ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.fonctionnement .boxFonctionnement ul li {
  display: flex;
  width: 100%;
  padding: 1.5em 1em;
  gap: 1em;
  background: #F7F7F7;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
}
.fonctionnement .boxFonctionnement ul li:hover i {
  color: #9356DC;
}
.fonctionnement .boxFonctionnement ul li span {
  position: absolute;
  left: -14px;
  top: 20px;
  color: white;
  background: #9356DC;
  padding: 4px;
  border-radius: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 1.5em;
}

#restaurant {
  background: #F7F7F7;
}
#restaurant .boxCardRestaurant {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 1em;
  padding: 3em 0;
}
#restaurant .cardRestaurant {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  max-height: 250px;
  min-height: 250px;
}
#restaurant .cardRestaurant img {
  border-radius: 15px 15px 0 0;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
#restaurant .cardRestaurant .badgeNouveau {
  position: absolute;
  right: 5%;
  top: 5%;
  background: #99E2D0;
  color: #008766;
  font-weight: bold;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.25em;
}
#restaurant .cardRestaurant .CardDescription {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
}
#restaurant .cardRestaurant .CardDescription i {
  position: absolute;
  right: 10%;
  top: 25%;
  font-size: 1.5em; /* Ajustez la taille de l'icône selon vos besoins */
  transition: color 1s;
  color: linear-gradient(188deg, #9356DC 17%, #FF79DA 100%); /* Dégradé linéaire comme couleur de remplissage */
  background-color: linear-gradient(188deg, #9356DC 17%, #FF79DA 100%); /* Dégradé linéaire comme couleur de remplissage */
}
#restaurant .cardRestaurant .CardDescription i:hover {
  background: linear-gradient(188deg, #9356DC 17%, #FF79DA 100%); /* Dégradé linéaire comme couleur de remplissage */
  -webkit-background-clip: text; /* Permet au dégradé de respecter la forme du texte */
  color: transparent; /* Rend le texte transparent pour montrer le dégradé */
  font-weight: bold;
}

/*RESPONSIVE DESKTOP*/
@media only screen and (min-width: 1024px) {
  nav {
    flex-direction: column;
  }
  .fonctionnement .boxFonctionnement ul {
    justify-content: space-between;
  }
  .fonctionnement .boxFonctionnement ul li {
    width: 32%;
  }
  .boxCardRestaurant {
    display: flex;
    justify-content: space-between;
  }
  .boxCardRestaurant h2 {
    width: 100%;
  }
  .boxCardRestaurant .cardRestaurant {
    width: 24%;
  }
}
@media screen and (min-width: 1280px) {
  .loader__food {
    top: 40%;
    left: 45%;
  }
}
.loader__food span {
  display: inline-block;
  width: 5px;
  height: 20px;
  padding-right: 1em;
}

.loader__fork {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite;
  animation: loaderSize 2.5s infinite ease-in-out;
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 1s ease-in-out 0.15s infinite;
}/*# sourceMappingURL=home.css.map */